@page "/"
@inject Localizer<SharedResource> Localizer

<PageTitle>@Localizer["Welcome to EventHorizon Platform Docs"]</PageTitle>

<h1>Welcome to the <br />EventHorizon Game Platform Documentation</h1>

<p>Checkout the <a href="/getting-started">Getting Started</a> to get up and running from a fresh <strong>Game Development Platform</strong>.</p>
