.tree-view__collapse {
    display: none;
}

@media only screen and (min-width: 832px) {
    .tree-view {
        padding: 0.5em 0px 0.5em 0.5em;
    }

    .tree-view__collapse {
        display: block;
        overflow: auto;
        height: calc(100vh - 3.5rem);
    }
}

.tree-view__node {
    margin-bottom: 0px;
    padding-left: 0.8rem;
    list-style: none;
    margin: 0px;
}

.tree-view__node-item {
    font-size: 0.9rem;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

    .tree-view__node-item ::deep .active {
        background-color: var(--contrast-dark-hint);
        color: var(--accent-color);
    }

.tree-view__node-icon {
    padding-right: 0.2rem;
}

::deep .tree-view__node-link {
    color: var(--icon-color);
    border-radius: 4px;
    height: 1.5rem;
    display: flex;
    align-items: center;
    line-height: 1.5rem;
    text-decoration: none;
    padding: 1rem;
}

    ::deep .tree-view__node-link:hover {
        background-color: var(--contrast-dark-hint);
        color: var(--accent-color);
        text-decoration: none;
    }

.tree-view__context-menu {
    font-size: 13px;
    position: absolute;
    padding: 8px 0;
    background: var(--accent-dark);
    box-shadow: 1px 1px 10px var(--contrast-dark-hint);
    margin: 0;
    list-style: none;
    z-index: 9999;
}

.tree-view__context-menu__item {
    display: block;
    padding: 5px 8px;
    cursor: default;
}

    .tree-view__context-menu__item:hover {
        background: var(--main-background);
    }
