@page "/404-not-found"
@inject Localizer<SharedResource> Localizer

<PageTitle>
    @Localizer["Not Found"]
</PageTitle>

<h1>
    @Localizer["Not Found"]
</h1>

<p>
    @Localizer["Sorry, there's nothing at this address."]
</p>
