@page "/"
@inject Localizer<SharedResource> Localizer

<PageTitle>
    @Localizer["[[EventHorizon Docs Site]]"]
</PageTitle>

<h1>@Localizer["[[EventHorizon Docs Site]]"]</h1>
<span>@Localizer["[[EventHorizon Docs Description]]"]</span>
