@page "/privacy-policy"
@inject Localizer<SharedResource> Localizer

<PageTitle>
    @Localizer["Privacy Policy"]
</PageTitle>

<h1>
    Privacy Policy of
</h1>
<div>
    <a class="website_url" href="[[EventHorizon Docs URL]]">[[EventHorizon Docs Site]]</a>
</div>

<p>
    At <span class="website_name">[[EventHorizon Docs Site]]</span>, accessible
    from [[EventHorizon Docs URL]], one of our main priorities is the privacy of
    our visitors. This Privacy Policy document contains types of information
    that is collected and recorded by
    <span class="website_name">[[EventHorizon Docs Site]]</span> and how we use
    it.
</p>

<h2>General Data Protection Regulation (GDPR)</h2>
<p>We are a Data Controller of your information.</p>

<p>
    <span class="website_name">[[EventHorizon Docs Site]]</span> legal basis for
    collecting and using the personal information described in this Privacy
    Policy depends on the Personal Information we collect and the specific
    context in which we collect the information:
</p>
<ul class="data-list">
    <li>
        <span class="website_name">[[EventHorizon Docs Site]]</span> needs to
        perform a contract with you
    </li>
    <li>
        You have given
        <span class="website_name">[[EventHorizon Docs Site]]</span> permission
        to do so
    </li>
    <li>
        Processing your personal information is in
        <span class="website_name">[[EventHorizon Docs Site]]</span>
        legitimate interests
    </li>
    <li>
        <span class="website_name">[[EventHorizon Docs Site]]</span> needs to
        comply with the law
    </li>
</ul>

<p>
    <span class="website_name">[[EventHorizon Docs Site]]</span> will retain your
    personal information only for as long as is necessary for the purposes set
    out in this Privacy Policy. We will retain and use your information to the
    extent necessary to comply with our legal obligations, resolve disputes, and
    enforce our policies.
</p>

<p>
    If you are a resident of the European Economic Area (EEA), you have certain
    data protection rights. If you wish to be informed what Personal Information
    we hold about you and if you want it to be removed from our systems, please
    contact us.
</p>

<p>In certain circumstances, you have the following data protection rights:</p>
<ul class="data-list">
    <li>
        The right to access, update or to delete the information we have on you.
    </li>
    <li>The right of rectification.</li>
    <li>The right to object.</li>
    <li>The right of restriction.</li>
    <li>The right to data portability</li>
    <li>The right to withdraw consent</li>
</ul>

<h2>Log Files</h2>

<p>
    <span class="website_name">[[EventHorizon Docs Site]]</span> follows a
    standard procedure of using log files. These files log visitors when they
    visit websites. All hosting companies do this and a part of hosting
    services' analytics. The information collected by log files include internet
    protocol (IP) addresses, browser type, Internet Service Provider (ISP), date
    and time stamp, referring/exit pages, and possibly the number of clicks.
    These are not linked to any information that is personally identifiable. The
    purpose of the information is for analyzing trends, administering the site,
    tracking users' movement on the website, and gathering demographic
    information.
</p>

<h2>Data Collected</h2>

<p>
    We collect information you provide directly to us. For example, we collect
    information when you create an account, subscribe, participate in any
    interactive features of our services, fill out a form, request customer
    support or otherwise communicate with us. The types of information we may
    collect include your name, email address, postal address, credit card
    information and other contact or identifying information you choose to
    provide.
</p>

<p>
    We collect anonymous data from every visitor of the Website to monitor
    traffic and fix bugs. For example, we collect information like web requests,
    the data sent in response to such requests, the Internet Protocol address,
    the browser type, the browser language, and a timestamp for the request.
</p>

<p>
    We also use various technologies to collect information, and this may
    include sending cookies to your computer. Cookies are small data files
    stored on your hard drive or in your device memory that helps us to improve
    our services and your experience, see which areas and features of our
    services are popular and count visits. We may also collect information using
    web beacons (also known as "tracking pixels"). Web beacons are electronic
    images that may be used in our services or emails and to track count visits
    or understand usage and campaign effectiveness.
</p>

<h2>Use of the Data</h2>

<p>
    We only use your personal information to provide you the
    <span class="website_name">[[EventHorizon Docs Site]]</span> services or to
    communicate with you about the Website or the services.
</p>

<p>
    We employ industry standard techniques to protect against unauthorized
    access of data about you that we store, including personal information.
</p>

<p>
    We do not share personal information you have provided to us without your
    consent, unless:
</p>

<ul class="data-list">
    <li>Doing so is appropriate to carry out your own request</li>
    <li>
        We believe it's needed to enforce our legal agreements or that is
        legally required
    </li>
    <li>
        We believe it's needed to detect, prevent or address fraud, security or
        technical issues
    </li>
</ul>

<h2>Sharing of Data</h2>

<p>
    We don't share your personal information with third parties. Aggregated,
    anonymized data is periodically transmitted to external services to help us
    improve the Website and service.
</p>

<p>
    We may allow third parties to provide analytics services. These third
    parties may use cookies, web beacons and other technologies to collect
    information about your use of the services and other websites, including
    your IP address, web browser, pages viewed, time spent on pages, links
    clicked and conversion information.
</p>

<p>
    We also use social buttons provided by services like Twitter, Google+,
    LinkedIn and Facebook. Your use of these third party services is entirely
    optional. We are not responsible for the privacy policies and/or practices
    of these third party services, and you are responsible for reading and
    understanding those third party services' privacy policies.
</p>

<h2>Opt-Out, Communication Preferences</h2>

<p>
    You may modify your communication preferences and/or opt-out from specific
    communications at any time. Please specify and adjust your preferences.
</p>

<h2>Security</h2>

<p>
    We take reasonable steps to protect personally identifiable information from
    loss, misuse, and unauthorized access, disclosure, alteration, or
    destruction. But, you should keep in mind that no Internet transmission is
    ever completely secure or error-free. In particular, email sent to or from
    the Sites may not be secure.
</p>

<h2>Children's Information</h2>

<p>
    Another part of our priority is adding protection for children while using
    the internet. We encourage parents and guardians to observe, participate in,
    and/or monitor and guide their online activity.
</p>

<p>
    <span class="website_name">[[EventHorizon Docs Site]]</span> does not
    knowingly collect any Personal Identifiable Information from children under
    the age of 13. If you think that your child provided this kind of
    information on our website, we strongly encourage you to contact us
    immediately and we will do our best efforts to promptly remove such
    information from our records.
</p>

<h2>Changes to our privacy policies</h2>

<p>
    We may amend this Privacy Policy from time to time. Use of information we
    collect now is subject to the Privacy Policy in effect at the time such
    information is used.
</p>

<p>
    From time to time we may make adjustments to this policy. Changes will be
    made at our sole discretion. Site's users are encouraged to check this
    policy for such changes. Your continued use of this site following changes
    to this policy constitutes your acceptance of the changes.
</p>

<h2>Contact Us</h2>

<p>
    <MudLink Href="mailto:[[EventHorizon Privacy Policy Email]]">
        @Localizer["[[EventHorizon Privacy Policy Email]]"]
    </MudLink>
</p>

<p class="--bold">This document has been last modified on December 24th, 2020</p>

<style>
    .data-list {
        padding-left: 30px;
        margin-top: 15px;
        margin-bottom: 15px;
    }

    .data-list li {
        list-style: circle;
    }

    .--bold,
    .website_name {
        font-weight: bold;
    }
</style>