:root {
    --header-color: blue;
    --main-background: lightblue;
    --footer-background-accent: white;
    --accent-color: white;
    --accent-background: black;
    --icon-color: #ddd;
    --success: #00da12;
    --error: #c20000;
    --warn: #fffb00;
    /* Sizes */
    --sidebar-width: 300px;
    --top-row-height: 3.5rem;
    --bottom-row-height: 2rem;
    --screen-min-width: 640px;
    --screen-mid-width: 832px;
    --screen-max-width: 1024px;
    /* Pirmary Colors */
    --primary-base: #384ea9;
    --primary-light: #e3efff;
    --primary-dark: #273677;
    /* Accent Colors */
    --accent-base: blue;
    --accent-light: white;
    --accent-dark: #141414;
    /* Foreground Colors */
    --foreground-base: #393939;
    --foreground-light: #c5c5c5;
    --foreground-dark: #111;
    /* Background Colors */
    --background-base: #aaa;
    --background-light: #fff;
    --background-dark: #616161;
    /* Icons */
    --icon-base: #aaa;
    --icon-light: #fff;
    --icon-dark: #616161;
    /* Contrast - Dark */
    --contrast-dark-primary: rgb(255, 255, 255);
    --contrast-dark-secondary: rgba(255, 255, 255, 0.7);
    --contrast-dark-disabled: rgba(255, 255, 255, 0.5);
    --contrast-dark-hint: rgba(255, 255, 255, 0.12);
    /* Contrast - Light */
    --contrast-light-primary: rgba(0, 0, 0, 0.87);
    --contrast-light-secondary: rgba(0, 0, 0, 0.54);
    --contrast-light-disabled: rgba(0, 0, 0, 0.38);
    --contrast-light-hint: rgba(0, 0, 0, 0.12);
    /* Error - Dark */
    --error-dark-primary: rgb(255, 0, 0);
    --error-dark-secondary: rgba(255, 0, 0, 0.7);
    --error-dark-disabled: rgba(255, 0, 0, 0.5);
    --error-dark-hint: rgba(255, 0, 0, 0.12);
    /* error - Light */
    --error-light-primary: rgba(255, 0, 0, 0.87);
    --error-light-secondary: rgba(255, 0, 0, 0.54);
    --error-light-disabled: rgba(255, 0, 0, 0.38);
    --error-light-hint: rgba(255, 0, 0, 0.12);
}
