@using Microsoft.AspNetCore.Components.Web
@using Website
@using Website.Metadata.Api
@inject PageMetadataSettings Settings
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <base href="/@(Settings.BasePath)" />
    <component type="typeof(HeadOutlet)" render-mode="WebAssemblyPrerendered" />
    <link href="css/theme.css" rel="stylesheet" />
    <link href="css/app.css" rel="stylesheet" />
    <link href="Website.styles.css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap" rel="stylesheet" />
    <link href="_content/MudBlazor/MudBlazor.min.css" rel="stylesheet" />
    <script src="https://kit.fontawesome.com/77dd49eca2.js" crossorigin="anonymous"></script>
    <script>
        window.ehz = {
            basePath: "@(Settings.BasePath)"
        };
    </script>
</head>

<body>
    @RenderBody()

    <div id="blazor-error-ui">
        An unhandled error has occurred.
        <a href="" class="reload">Reload</a>
        <a class="dismiss">🗙</a>
    </div>
    <script src="_content/MudBlazor/MudBlazor.min.js"></script>
    <script src="_framework/blazor.webassembly.js" autostart="false"></script>
    <script type="module">
        import { BrotliDecode } from './js/decode.min.js';
        Blazor.start({
            loadBootResource: function (type, name, defaultUri, integrity) {
                if (type !== 'dotnetjs' && location.hostname !== 'localhost' && type !== 'configuration') {
                    return (async function () {
                        const response = await fetch(defaultUri + '.br', { cache: 'no-cache' });
                        if (!response.ok) {
                            throw new Error(response.statusText);
                        }
                        const originalResponseBuffer = await response.arrayBuffer();
                        const originalResponseArray = new Int8Array(originalResponseBuffer);
                        const decompressedResponseArray = BrotliDecode(originalResponseArray);
                        const contentType = type ===
                            'dotnetwasm' ? 'application/wasm' : 'application/octet-stream';
                        return new Response(decompressedResponseArray,
                            { headers: { 'content-type': contentType } });
                    })();
                }
            }
        });
    </script>
</body>

</html>