@inherits NavTreeViewModel

@* <nav class="tree-view"> *@
    <NavTreeViewNode Node="Root"
                     OnChanged="OnChanged"
                     OnNodeClicked="OnNodeClicked" />
@* </nav> *@